

.customNav {
    margin-right: 0 !important;
    padding-top: 0;

}

.customNavLink {
    /* display: flex; */
    align-items: flex-end;
    color: white;
}

.customNavLink:hover {
    color: pink;
}