.footerBlock {
    margin: 0 !important;
    padding: 0;
    min-height: 20vh;
    /* min-height: 90px; */
    background-color: powderblue;
}

.custom-footer {
    height: 90px;
    margin-top: 30px;
}
.custom-footer i {
    color: white;
    margin: 10px 30px;
}